__pycache__/
.venv/
.env
.wslenv/
script*.py
# user/__pycache__/
# polls/__pycache__/
# mysite/__pycache__/
db*sqlite*
__pycache__/$
user/static/ishi.zip
mysite/testfile.psy
timetest.py
load.py
# *migrations/