
body {
	/* color: #fff; */
	/* background: #E6E6FA; */
  background: #fefafe;
	font-family: 'Roboto', sans-serif;
}

.card-footer {
  background: #fff;
  border: 0px;
  padding: 0px;
}

.navbar-custom {
  /* background-color: #009688; */
  background: #136a8a;
  background: 
    -webkit-linear-gradient(to right, #267871, #136a8a);
  background: 
    linear-gradient(to right, #267871, #136a8a);
}

.btn-primary {
  background-color: #267871;
  /* width: 25%;
  min-width: 200px; */
  /* padding: 3px; */
}
.btn-primary:hover {
  background-color: #136a8a;
}

.btn-secondary {
  /* background-color: #6B7280; */
  background-color: #71717A;
  /* width: 25%;
  min-width: 200px; */
  /* padding: 3px; */
}
.btn-secondary:hover {
  background-color: #52525B;
}

img {
  max-width: 100%;
}

main {
    padding-top: 80px;
  }

main .card {
    margin-bottom: 20px;
  }

#r1 .card {
  height: 231px;
}
#r1_1 {
  margin-bottom: 0px;
}

.card {
    border-radius: 2%;
}
.card .content {
    border-radius: 2%;
}
