<head>  
    <meta charset="UTF-8">  
    <title>Participate</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
    <!-- <link rel="stylesheet" href="{% static 'home.css' %}"> -->
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>  
    <style>
        #r1 .card {
            height: auto;
        }
        .btn {
            width: 400px;
        }
    </style>
</head> 
<body>
<nav class="navbar navbar-dark fixed-top navbar-custom flex-md-nowrap p-0 shadow p-1 mb-5 " >
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"></a>
    <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
        <a class="nav-link" href="{% url 'user:logout' %}">Logout</a>
    </li>
    </ul>
</nav>

<main role="main">
    <div class="container">
        <!-- Row 1 -->
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <h4 class="card-title"> Validation Code </h4>
            <br>
            <p class="card-subtitle">Please make a note of the following code and confirm. Once your confirm, this page will stay here and a new tab for the experiment site will be opened. Once you are at the end of your session, you can switch to this tab to refer the code. <br> You will be <b>required</b> to enter it on the experiment site at the end of your session.</p>
            <p style="color: red;"> NOTE: Do not close this window or press refresh or back buttons on this page before you have noted the code. This is the final page before you are redirected to the survey. </p>
            <br>
            <div class="row justify-content-center" id="r1">
                <div class="card-body">
                    <!-- <p>Your OTP for visit number {{ user.participant.sessions_completed }} is:</p> -->
                    <h3 class="text-center">
                        {{otp}}
                    </h3>
                </div>
                <br>
            </div>
            <br>
            <div class="row align-items-center">
                <div class="text-center">
                    <button class="btn btn-primary"
                        onclick=" window.open('{{ url }}', '_blank')">
                        I understand, let me proceed.
                    </button>
                    <!-- Hello -->
                </div>
            </div>
        </div>
</main>

</body>