{% extends "user/consent.html" %}

{% block faq %}
<p>Let me walk you through the process. Please read the FAQ carefully and in case of any inquiry, you can write to us: <a href="mailto:vivek.pamnani@research.iiit.ac.in">vivek.pamnani@research.iiit.ac.in</a> (r  esearch student), or <a href="mailto:priyanka.srivastava@iiit.ac.in">priyanka.srivastava@iiit.ac.in</a> (principal investigator).</p>
<p>This session will comprise three cognitive games, a demographic survey, and a health survey.</p>

<p><b>Q: <em>How long will this study take?</em></b></p>
<p><b>A:</b> The session will last for approximately 40 minutes.</p>

<p><b>Q: <em>How will I be performing on the tests?</em></b></p>
<p><b>A:</b> You will be required to sit in front of your laptop or desktop to perform the tests. We will ask you to keep the laptop or desktop display screen at your arm length and be seated straight and comfortably.</p>
<p>We will begin the session with a demographic survey, followed by three cognitive games and a health survey. You will be informed about the tests details as you will proceed in the study. Each test is different in nature and will require different time.</p>

<p><b>Q: <em>What are the benefits of this research?</em></b></p>
<p><b>A:</b> You may not be directly benefited by participating in our study. However, your participation will potentially advance our  understanding of the impact of the Pandemic on individual mental wellbeing.</p>

<p><b>Q: <em>What are the risks or inconveniences involved in this study?</em></b></p>
<p><b>A:</b> The study does not comprise any known risks of physical or psychological damage associated with your participation. The Institute Research Review Board Committee has evaluated the potential risks associated with our study based on previous studies with similar tests conducted nationally and internationally. A possible inconvenience is that some participants have found similar tasks to be slightly fatiguing. </p>

<p><b>Q: <em>How will my personal information be protected?</em></b></p>
<p><b>A:</b> None of your response data will be shared with anyone other than the investigators or researchers. Your participation is entirely anonymous. No personal identifying information will be associated with the data we collect from you.  Instead, we will use unique user ID code to identify your data.</p>

<p><b>Q: <em>What are my participation rights?</em></b></p>
<p><b>A:</b> Your participation in this study is entirely voluntary. <u>You can choose to withdraw from this study at any point in time.</u> There are no penalties or consequences of any kind if you decide that you do not want to participate or discontinue your participation. However, for the benefit of research, we request you complete the study. </p>

<p><b>Q: <em>Whom do I contact if I have questions about the study?</em></b></p>
<p><b>A: </b>We will be glad to respond to any queries you may have about this study. If you have any questions, please write to <a href="mailto:vivek.pamnani@research.iiit.ac.in">vivek.pamnani@research.iiit.ac.in</a> (research student), or <a href="mailto:priyanka.srivastava@iiit.ac.in">priyanka.srivastava@iiit.ac.in</a> (principal investigator) with 'IMWBS' as part of the <b>subject</b>.</p>
{% endblock %}
