<head>  
    <meta charset="UTF-8">  
    <title>Directions</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
    <!-- <link rel="stylesheet" href="{% static 'home.css' %}"> -->
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>  
    <style>
        #r1 .card {
            height: auto;
        }
        .btn {
            width: 400px;
        }
    </style>
</head> 
<body>
<nav class="navbar navbar-dark fixed-top navbar-custom navbar-expand-lg flex-md-nowrap p-1 shadow p-1 mb-5 " >

    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'user:home' %}">Hi, {{ request.user.username }}!</a>
    <div class="navbar-collapse collapse flex-grow-1 text-right"> </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user:instructions' %}">Instructions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user:logout' %}">Logout</a>
            </li>
        </ul>
    <!-- <ul class="navbar-nav px-3">
    </ul> -->

</nav>

<main role="main">
    <div class="container">
        <!-- Row 1 -->
        <div class="row justify-content-center" id="r1">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <h4 class="card-title"> Directions </h4>
                <div class="card-body">
                    <ol>
                        <li>This study requires you to be using a laptop or a desktop. </li>
                        <li>Kindly refrain from using mobiles/tablets/iPads for the study.</li>
                        <li>This study requires you to have <u>a real keyboard</u>.</li>
                        <li>Make sure you are in a quiet environment and free from distractions. This includes music and your mobile phone.</li>
                        <li>You should ideally not participate in the study during the night (or if you are within about four hours of your bedtime).</li>
                        <li>Please sit straight during the course of the study.</li>
                        <li>Adjust the monitor/display so that the top of the screen is at or slightly below eye level.</li>
                        <li>Your eyes should look slightly downward when viewing the middle of the screen.</li>
                        <li>Position the monitor/display from your eyes at about an arm's length distance (at least 20 inches or 51 cm). If your screen is larger, add more viewing distance.</li>
                    </ol>
                    <p> If you are unclear about the instructions, please click the 'Instructions' button on the top right before continuing. </p>
                    <p> If you have understood the above directions, please confirm by clicking the button below to proceed. Once you have confirmed, your attempt will be recorded; so kindly do not hit refresh or back button on your browser.</p>
                </div>
                <div class="text-center">
                    <form action="{% url 'user:visit' %}" method="GET">
                        {% csrf_token %}
                            <button type="submit"
                                    class="btn btn-primary">
                                    I understand
                            </button>
                    </form>
                </div>
            </div>
        </div>
</main>
<footer>
    <p>Contact:</p>
    <p><a href="mailto:vivek.pamnani@research.iiit.ac.in">vivek.pamnani@research.iiit.ac.in</a></p>
    <p>(Vivek Pamnani)</p>
  </footer>
</body>