<head>  
    <meta charset="UTF-8">  
    <title>login</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>  
</head> 
<body>
    <p>Click the button below to proceed to the experiment link.</p> </br>
    <a target="_blank" 
        class="btn btn-primary"
        role="button" 
        href="https://www.psytoolkit.org/">
        Check It Out
    </a>
</body>