<head>  
    <meta charset="UTF-8">  
    <title>Home</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>  
</head> 
<body>
    <p>Click the button below to proceed to the experiment link.</p> </br>
    <form action="{% url 'user:directions' %}" method="GET">
    {% csrf_token %}
        <button type="submit"
                class="btn btn-primary">
                Check It Out
        </button>
    </form>
    <form action="{% url 'user:logout' %}" method="GET">
        <button type="submit"
                class="btn btn-dark">
                Logout
        </button>
    </form>
    <div class="row d-flex justify-content-center mt-100" id="progress_widget">
        <div class="col-md-6">
            <div class="progress blue">
              <span class="progress-left" data-leftnum="{{leftnum}}">
                                <span class="progress-bar"></span>
              </span>
              <span class="progress-right" data-rightnum="{{rightnum}}">
                                <span class="progress-bar"></span>
              </span>
              <div class="progress-value">
                <div>
                    {{user.participant.sessions_completed}}/6<br>
                    <span>completed</span>
            </div>
        </div>
            </div>
        </div>
    </div>
</body>