<head>  
    <meta charset="UTF-8">  
    <title>Instructions</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
    <!-- <link rel="stylesheet" href="{% static 'home.css' %}"> -->
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>  
    <style>
        #r1 .card {
            height: auto;
        }
        .btn {
            width: 400px;
        }
    </style>
</head> 
<body>
<nav class="navbar navbar-dark fixed-top navbar-custom flex-md-nowrap p-0 shadow p-1 mb-5 " >
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Instructions</a>
</nav>

<main role="main">
    <div class="container">
        <!-- Row 1 -->
        <div class="row justify-content-center" id="r1">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <h4 class="card-title"> Instructions </h4>
                <p class="card-subtitle">Note that you can access this page at any time by clicking the 'Instructions' button on the top-right of your screen on your home page.</p>
                <div class="card-body">
                    <!-- <p>This study comprises of <b>6</b> sessions.</p> -->
                    <h5 id="gen_ins">General instructions:</h5>
                    <ol>
                        <li>You must participate in this study using a laptop or a desktop.</li>
                        <li>This study requires you to have a real keyboard.</li>
                        <li>This study comprises of <b>6</b> sessions. (You have the right to stop participating at any point in time).</li>
                    </ol>
                    <h5 id="first_ins">In the <b>first</b> session:</h5>
                    <p>The study will last for approximately <b>45 minutes</b> and consists of three parts:</p>
                    <ol>
                        <li>Survey about your demographic information</li>
                        <li>A sequence of 3 mini-games to play.</li>
                        <li>Health questionnaires.</li>
                    </ol>
                    <h5 id="subsequent_ins">In a <b>subsequent</b> session (i.e., session two to session six):</h5>
                    <p>The study will last for approximately <b>35 minutes</b> and consists of only two parts:</p>
                    <ol>
                        <li>The 3 mini-games and,</li>
                        <li>Health questionnaires.</li>
                    </ol>
                    <h5 id="directions">Directions  to keep in mind:</h5>
                    <ol>
                        <li>Kindly refrain from using mobiles/tablets/iPads for the study.</li>
                        <li>Make sure you are in a quiet environment and free from distractions.</li>
                        <li>Please sit straight during the course of the study.</li>
                        <li>Adjust the monitor/display so that the top of the screen is at—or slightly below—eye level.</li>
                        <li>Your eyes should look slightly downward when viewing the middle of the screen.</li>
                        <li>Position the monitor from your eyes at about an arm's length distance (at least 20 inches or 51 cm). If your screen is larger, add more viewing distance.</li>
                    </ol>
                    <p><em>If you have any questions regarding the instructions or if you need any kind of clarification, please write an email addressed to : <a href="mailto:vivek.pamnani@research.iiit.ac.in">vivek.pamnani@research.iiit.ac.in</a> (research student), or <a href="mailto:priyanka.srivastava@iiit.ac.in">priyanka.srivastava@iiit.ac.in</a> (principal investigator) with 'IMWBS' as part of the <b>subject</b>.</em></p>
                    <p><em>Further, if at any point of time you need refer the instructions again, enter the following URL in your browser and hit enter: <a href="https://imwbs.pythonanywhere.com/user/instructions/">https://imwbs.pythonanywhere.com/user/instructions/</a>. You can also go to the home page of our website and click the appropriate button (on top-right) that will redirect you to the same webpage.</em></p>
                    <p>If you have understood the above directions, please confirm by clicking the button below to proceed.</p>
                </div>
                <div class="text-center">
                    <form action="{% url 'user:home' %}" method="GET">
                        {% csrf_token %}
                            <button type="submit"
                                    class="btn btn-primary">
                                    I understand.
                            </button>
                    </form>
                </div>
            </div>
        </div>
</main>

</body>