{% extends "user/instructions.html" %}

{% block general_ins %}
    <h5 id="gen_ins">General instructions:</h5>
    <ol>
        <li>You must participate in this study using a laptop or a desktop.</li>
        <li>This study requires you to have a real keyboard.</li>
        <li>Before you start participating, you will be required to take a two-part screening test on the home page of the website.</li>
            <ul>
                <li>The first part of the screening test is to make sure you clear the eligibility criteria for the study.</li>
                <li>The second part of the screening test is to check if you are color blind. If you are color blind, you cannot participate in this study.</li>
            </ul>
    </ol>
{% endblock %}

{% block session_ins %}
    <h5 id="first_ins">In the session:</h5>
    <p>The study will last for approximately <b>35-40 minutes</b> and consists of three parts:</p>
    <ol>
        <li>Survey about your demographic information</li>
        <li>A sequence of 3 cognitive games to play.</li>
        <li>Health questionnaires.</li>
    </ol> 
{% endblock %}