<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Indian Mental Wellbeing Study: Welcome back! </title>
  {% load static %}  
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
  <link rel="stylesheet" href="{% static 'login.css' %}">
</head>

<body>
<!-- partial:index.partial.html -->
<section class='login' id='login'>
  <div class='head'>
  <h1 class='company'>Indian Mental Wellbeing Study</h1>
  </div>
  <p class='msg'>Welcome back!</p>
  <div class='form'>
    <form action="{% url 'user:login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder='Username' class='text' id='username' required><br>
        <input type="password" name="password" placeholder='••••••••••••••' class='password'><br>
        <!-- <a href="#" class='btn-login' id='do-login' type="submit">Login</a> -->
        <p style="color: #FF0000;">{{err_msg}}</p>
        <div style="text-align:center;">
            <input class='btn-login' id='do-login' type="submit" value="Login"></input>
        </div>
        <br>
        <div>
          Don't have an account?<a class='forgot' href="/user/register"> Register. </a>
        </div>
        <!-- <a href="#" class='forgot'>Forgot?</a> -->
    </form>
  </div>
</section>
<!-- partial -->

</body>
</html>